<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-signin-client_id" content="240940444333-co07fev7v2dbl1v483d125uuu264d57n.apps.googleusercontent.com">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    {% block head_content %} {% endblock %}
</head>

<body>
    <header class="header">
        <div class="row">
            <div class="col-sm app-name">
                <a href="/" class="app-name">The Amazing Catalog</a>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm login_area">
                {% if not user_session['username'] and not login_page %}
                    <a href="{{url_for('login')}}">
                        <button id="btn-signIn" type="button" class="btn btn-light btn-md">Sign In</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            {% if user_session['username'] %}
                <aside class="col-2">
                    <div class="container">
                        <div class="row profile">
                            <div class="profile-sidebar">
                                <!-- SIDEBAR USERPIC -->
                                <div class="profile-userpic">
                                    {% if user_session['picture'] %}
                                        <img src="{{user_session['picture']}}" class="img-responsive" alt="">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='user.png') }}" class="img-responsive" alt="">
                                    {% endif %}
                                </div>
                                <!-- END SIDEBAR USERPIC -->
                                <!-- SIDEBAR USER TITLE -->
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name">
                                        Wellcome <br>
                                        {{user_session['name']}}
                                    </div>
                                    <div class="profile-usertitle-job">
                                        {{user_session['username']}}
                                    </div>
                                </div>
                                <!-- END SIDEBAR USER TITLE -->
                                <!-- SIDEBAR BUTTONS -->
                                <div class="profile-userbuttons">
                                    <button type="button" class="btn btn-danger" onclick="signOut()">Sign Out</button>
                                </div>
                                <!-- END SIDEBAR BUTTONS -->
                            </div>
                        </div>
                    </div>
                </aside>
            {% endif %}
            <div class="col-10 content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </body>
</html>